{
    "presets": [
        [ "env",
            {
                "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "react",
        "stage-2",
    ],
    "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less"]
          }
        ],
        ["transform-runtime", "transform-decorators-legacy"],
        "babel-polyfill"
    ]
}