*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5D5;
}
.file-server{
    display: flex;
    width: 100%;
    flex-direction: column;
    .head{
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        font-size: 24px;
        font-weight: normal;
        line-height: 24px;
        height: 24px;
    }
    .upload-area{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 20px 20px;
        .upload{
            display: flex;
            width: 90px;
            justify-content: space-between;
            align-items: center;
        }
    }
    .warning{
        padding-left: 20px;
    }
    #container{
        display: block;
		margin-left: 20px;
		max-height: calc(100vh - 124px);
        overflow-y: auto;
        .file-item{
            margin: 15px 0 !important;
            word-break: break-all;
        }
        .file-link {
            color: rgba(0, 0, 255, 1);;
            font-size: 20px;
            margin-top: 10px;
            text-decoration: underline;
            cursor: pointer;
        }
        .file-size{
            color: #878787;
            padding: 0 5px;
        }
        .delete-file {
            color: #f00;
            text-decoration: underline;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
